@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This website is for testing and proposal purposes.</p>
<p>No data is being collected on this website except for essential cookies.</p>
<p>We value your privacy here at WeatherWatch, and will vouch to never collect your data without your permission.</p>
