@page
@model WeatherWatch.Pages.RadarModel
@{
    ViewData["Title"] = "Radar";
}

<body>
    <div class="card-title">
        <center>
            <h1>My Own Radar</h1>
            <h4>WFAA</h4>
        </center>
    </div>
    <div class="radar">
        <center>
            <iframe width="67%" height="570" src="https://cdn.tegna-media.com/wfaa/weather/myownradar/750x422/metro40/morani.html" style="border-width:0" frameborder="0" scrolling="no"></iframe>
        </center>
    </div>
</body>